[Unit]
Description=Authentik SSO Service
Requires=podman.service
After=podman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/docker-compose -f /opt/authentik/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /opt/authentik/docker-compose.yml stop
WorkingDirectory=/opt/authentik
User=authentik
Group=authentik
Environment=DOCKER_HOST=unix:///run/user/{{ authentik_user.uid }}/podman/podman.sock
[Install]
WantedBy=multi-user.target