[Unit]
Description=Nextcloud server
Requires=podman.service
After=podman.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/bash -c 'while ! podman info > /dev/null 2>&1; do echo "waiting for podman" && sleep 1; done'
ExecStart=/usr/local/bin/docker-compose -f /opt/nextcloud/docker-compose.yml up -d
ExecStop=/usr/local/bin/docker-compose -f /opt/nextcloud/docker-compose.yml stop
WorkingDirectory=/opt/nextcloud
User=nextcloud
Group=nextcloud
Environment=DOCKER_HOST=unix:///run/user/{{ nextcloud_user.uid }}/podman/podman.sock
[Install]
WantedBy=multi-user.target