TIMEZONE: Europe/Paris
# jinja generate random pwd
MARIADB_ROOT_PASSWORD: {{ misc_db_root_password }}

LINKSTACK_ADMIN: {{ linkstack_admin }}
LINKSTACK_HTTP_HOST: links.{{ web_domain }}
LINKSTACK_HTTPS_HOST: links.{{ web_domain }}
LINKSTACK_LLEVEL: error
LINKSTACK_DB_NAME: linkstack
LINKSTACK_DB_USER: linkstack
LINKSTACK_DB_PASSWORD: {{ linkstack_db_password }}



SHLINK_DOMAIN: sl.{{ web_domain }}
GEOLITE_LICENSE_KEY: {{ geolite_license_key }}
SHLINK_API_KEY: {{ shlink_api_key }}
SHLINK_DB_NAME: shlink
SHLINK_DB_USER: shlink
SHLINK_DB_PASSWORD: {{ shlink_db_password }}
SERVER_IP: {{ application_setup_server_ip }}