PG_PASS={{ authentik_db_password }}
AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
AUTHENTIK_ERROR_REPORTING__ENABLED=true
AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_password }}

# SMTP Host Emails are sent to
AUTHENTIK_EMAIL__HOST={{ authentik_smtp_host }}
AUTHENTIK_EMAIL__PORT={{ authentik_smtp_port }}
# Optionally authenticate (don't add quotation marks to your password)
AUTHENTIK_EMAIL__USERNAME={{ authentik_smtp_username }}
AUTHENTIK_EMAIL__PASSWORD={{ authentik_smtp_password }}
# Use StartTLS
AUTHENTIK_EMAIL__USE_TLS={{ authentik_smtp_tls }}
# Use SSL
AUTHENTIK_EMAIL__USE_SSL={{ authentik_smtp_ssl }}
AUTHENTIK_EMAIL__TIMEOUT=30
# Email address authentik will send from, should have a correct @domain
AUTHENTIK_EMAIL__FROM={{ authentik_email }}
AUTHENTIK_TAG="latest"

GEOIPUPDATE_ACCOUNT_ID={{ authentik_geoip_account_id }}
GEOIPUPDATE_LICENSE_KEY={{ authentik_geoip_license_key }}
AUTHENTIK_AUTHENTIK__GEOIP=/geoip/GeoLite2-City.mmdb

SERVER_IP={{ application_setup_server_ip }}