OIDC_ENABLED=1
OIDC_PROVIDER_METADATA_URL="{{freshrss_oidc_provider_metadata_url}}"
OIDC_CLIENT_ID="{{freshrss_oidc_client_id}}"
OIDC_CLIENT_SECRET="{{freshrss_oidc_client_secret}}"
OIDC_X_FORWARDED_HEADERS="X-Forwarded-Port X-Forwarded-Proto X-Forwarded-Host"
OIDC_SCOPES="openid email profile"
SERVER_IP={{ application_setup_server_ip }}