[Unit]
Description=Powertop tunings

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/sbin/powertop --auto-tune
Environment="TERM=dumb"
ExecStartPost=/usr/local/bin/powertop_fine_tune.sh

[Install]
WantedBy=multi-user.target